body {
  font-family: nudista-web, sans-serif;
  font-style: normal;
  font-weight: 100; }
  body .container-fluid .header-container {
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425); }
    body .container-fluid .header-container nav .navbar-toggler {
      border: none;
      color: black; }
    body .container-fluid .header-container .logo-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%); }
      body .container-fluid .header-container .logo-wrapper img {
        width: 180px;
        height: 60px; }
    body .container-fluid .header-container .icons {
      position: absolute;
      top: 10px;
      right: 1px;
      opacity: 0.7; }
  body .container-fluid .flow-container .img-container {
    width: 100%; }
    body .container-fluid .flow-container .img-container img {
      width: 100%; }
  body .container-fluid .flow-container .txt-container h5 {
    text-transform: uppercase; }
  body .container-fluid .flow-container .txt-container hr {
    border-color: rgba(128, 128, 128, 0.733);
    width: 100px; }
  body .container-fluid .flow-container .txt-container h2 {
    text-transform: uppercase; }

footer#sticky-footer {
  flex-shrink: none; }
  footer#sticky-footer #footer-container {
    background-color: darkgray; }
  footer#sticky-footer #img-box img {
    height: 50%;
    width: 50%; }
