body {
  font-family: nudista-web, sans-serif; }
  body .container-fluid .row .header-container {
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425); }
    body .container-fluid .row .header-container nav .navbar-toggler {
      border: none;
      color: black; }
    body .container-fluid .row .header-container nav .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      border: none; }
      body .container-fluid .row .header-container nav .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-divider {
        border-top: none; }
    body .container-fluid .row .header-container .search {
      display: none; }
      @media (min-width: 768px) {
        body .container-fluid .row .header-container .search {
          display: inline-block;
          position: absolute;
          left: 50px;
          top: 15px;
          opacity: 0.7;
          cursor: pointer; } }
    body .container-fluid .row .header-container .logo-wrapper {
      position: absolute;
      left: 50%;
      z-index: 10;
      transform: translate(-50%); }
      body .container-fluid .row .header-container .logo-wrapper img {
        width: 180px;
        height: 60px; }
    body .container-fluid .row .header-container .icons {
      position: absolute;
      top: 10px;
      right: 1px;
      opacity: 0.7; }
      body .container-fluid .row .header-container .icons img {
        cursor: pointer; }

footer#sticky-footer {
  padding: 0px;
  margin-top: 10px; }
  footer#sticky-footer #footer-container {
    flex: none;
    background-color: lightgray; }
    footer#sticky-footer #footer-container .footer-info {
      padding-left: 0;
      list-style-type: none;
      font-size: 16px;
      font-family: nudista-web, sans-serif;
      font-style: normal;
      font-weight: 300; }
      footer#sticky-footer #footer-container .footer-info li a {
        color: black; }
        footer#sticky-footer #footer-container .footer-info li a:hover {
          text-decoration: none; }
  footer#sticky-footer #img-box {
    margin: auto; }
    footer#sticky-footer #img-box img {
      width: 100%; }
  footer#sticky-footer #icon-box {
    background-color: #BAA6A4;
    height: 50px; }

body {
  font-family: nudista-web, sans-serif; }
  body .container-fluid .row .img-container {
    background-image: url(../images/image-lp-mob.jpg);
    width: 100%;
    height: 566px;
    background-position: center;
    background-size: cover; }
    @media (min-width: 600px) {
      body .container-fluid .row .img-container {
        background-image: url(../images/Serenity-image.jpg);
        height: 500px; } }
  body .container-fluid .row .txt-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.425); }
    body .container-fluid .row .txt-container h5 {
      text-transform: uppercase; }
    body .container-fluid .row .txt-container hr {
      border-color: rgba(128, 128, 128, 0.425);
      width: 112px; }
    body .container-fluid .row .txt-container h2 {
      text-transform: uppercase;
      font-weight: bold; }
  body .container-fluid .row .prod-wrapper {
    position: relative;
    flex-wrap: wrap;
    width: 80%; }
    body .container-fluid .row .prod-wrapper .prod-img {
      box-shadow: 0px 0px 14px -3px #8c898c; }
      body .container-fluid .row .prod-wrapper .prod-img img {
        width: 100%; }
    body .container-fluid .row .prod-wrapper .prod-info {
      opacity: 0.7;
      position: absolute;
      top: 1px; }
      body .container-fluid .row .prod-wrapper .prod-info .prod-name {
        text-transform: uppercase; }
      body .container-fluid .row .prod-wrapper .prod-info .prod-price {
        text-transform: capitalize;
        font-size: 12px; }
    body .container-fluid .row .prod-wrapper .prod-icons {
      position: absolute;
      opacity: 0.7;
      top: 1px;
      right: 1px; }
      body .container-fluid .row .prod-wrapper .prod-icons img {
        cursor: pointer; }

body .container-fluid .row .txt-container .txt-header {
  text-transform: capitalize;
  font-size: 45px; }

body .container-fluid .row .prod-container {
  position: relative;
  flex-wrap: wrap;
  width: 80%; }
  body .container-fluid .row .prod-container .prod-img {
    box-shadow: 0px 0px 14px -3px #8c898c;
    transition: all 0.5s ease-out; }
    @media (min-width: 990px) {
      body .container-fluid .row .prod-container .prod-img:hover {
        background: rgba(0, 0, 0, 0.671);
        filter: brightness(40%);
        transition: all 0.5s; } }
    @media (min-width: 990px) {
      body .container-fluid .row .prod-container .prod-img:hover .prod-info {
        visibility: visible;
        opacity: 1;
        color: white; } }
    body .container-fluid .row .prod-container .prod-img img {
      width: 100%;
      vertical-align: top; }
  body .container-fluid .row .prod-container .prod-info {
    text-transform: uppercase;
    opacity: 0.7;
    position: absolute;
    top: 1px; }
    @media (min-width: 990px) {
      body .container-fluid .row .prod-container .prod-info {
        visibility: hidden;
        opacity: 0; } }
    body .container-fluid .row .prod-container .prod-info .prod-name {
      text-transform: uppercase; }
    body .container-fluid .row .prod-container .prod-info .prod-price {
      text-transform: capitalize;
      font-size: 12px; }
  body .container-fluid .row .prod-container .prod-icons {
    position: absolute;
    opacity: 0.7;
    bottom: 40px;
    right: 10px; }
    body .container-fluid .row .prod-container .prod-icons img {
      cursor: pointer; }

body .container-fluid .row #hide-mobile {
  display: none; }
  @media (min-width: 768px) {
    body .container-fluid .row #hide-mobile {
      display: block; } }
  @media (min-width: 768px) and (min-width: 990px) {
    body .container-fluid .row #hide-mobile {
      display: none; } }
