@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}
@mixin desktop {
    @media (min-width: 1000px) {@content;}
}

footer#sticky-footer{
    padding: 0px;
    margin-top: 10px;
    h4{
        @include font-style;
    }
        #footer-container{
            flex: none;
            background-color: #EAEAEA;
            padding-top: 10px;
            padding-bottom: 20px;
            .footer-info{
                padding-left: 0;
                list-style-type: none;
                font-size: 16px;
                @include font-style;
                li{
                    a {
                        color: black;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            #f-menu3{
                    input{
                        margin: 4px;
                        width: -webkit-fill-available;
                    }
                    p{
                        @include font-style;
                     }
                    button{
                        @include font-style;
                    }   
            }
        }
       
        #img-box{
            margin: auto;
            img{
            width: 100%;
            
            }
        }
        #icon-box{
            background-color:#EADCCF;
            justify-content: center;
            color: white;
            padding-top: 10px;
            ul{
                padding-left: 0;
                li{
                    color: white;
                    size: 20px;
                    padding: 4px;
                    &:hover{
                        text-decoration: none;
                    }
            }
        }
        p{
            text-align: center;
            @include font-style;
        }
        #icon-link{
            margin: auto;
            text-align: center;
            padding: 0;
        }
        #brand{
            margin: auto;
            font-weight: bold;
            @include desktop{
                float: right;
            }
        }
    }   
}