footer#sticky-footer{
    padding: 0px;
    margin-top: 10px;
    
        #footer-container{
            background-color: darkgray;
            height: 500px;
        }
        #img-box{
            img{
            width: 50%;
            }
        }
}