@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin large-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 990px) {
        @content;
    }
}

@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}

body {
    @include font-style;

    .section-wrapper {
        padding-top: 68px;

        .row {
            .img-section {
                background-image: url(../images/image-lp-mob.jpg);
                width: 100%;
                height: 500px;
                background-position: center;
                background-size: cover;

                @include tablet() {
                    background-image: url(../images/Serenity-image.jpg);
                    height: 580px;
                }
            }

            .txt-container {
                h5 {
                    text-transform: uppercase;
                }

                hr {
                    border-color: rgba(128, 128, 128, 0.425);
                    width: 105px;
                }

                h2 {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }

    .container-fluid {
        border-top: 1px solid rgba(128, 128, 128, 0.425);

        .prod-container {
            .col-12 {
                h4 {
                    a {
                        font-size: 16px;
                        color: black;
                        text-decoration: none;
                    }
                }
            }

            .prod-wrapper {
                position: relative;
                flex-wrap: wrap;
                width: 80%;

                .hover-div {
                    cursor: pointer;
                    z-index: 100;
                    background: rgba(0, 0, 0, 0);

                    &:hover .prod-img {
                        @include desktop() {
                            background: rgba(0, 0, 0, 0.719);
                            filter: brightness(40%);
                            transition: all 0.5s;
                        }
                    }

                    .prod-img {
                        box-shadow: 0px 0px 14px -3px rgba(140, 137, 140, 1);
                        transition: all 0.5s ease-out;
                    }

                    img {
                        width: 100%;
                        vertical-align: top;
                    }
                }

                .prod-info {
                    text-transform: uppercase;
                    position: absolute;
                    top: 1px;

                    @include desktop {
                        opacity: 0;
                        font-weight: bold;
                        color: white;
                        left: 45%;
                        top: 30%;
                        transform: translate(-45%, -20%);
                        font-size: 20px;
                    }

                    .prod-name {
                        text-transform: uppercase;

                        @include desktop() {
                            text-align: center;
                        }
                    }

                    .prod-price {
                        text-transform: capitalize;
                        font-size: 12px;

                        @include desktop() {
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }

                .prod-icons {
                    z-index: 200;
                    position: absolute;
                    bottom: 40px;
                    right: 10px;
                    @include desktop {
                        visibility: hidden;
                    }

                    .heart-icon {
                        width: 27px;
                        height: 37px;
                        cursor: pointer;
                    }

                    .cart-icon {
                        width: 38px;
                        height: 40px;
                        cursor: pointer;
                    }
                }

                .icons-hover {
                    opacity: 0;
                    position: absolute;
                    top: 47%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        z-index: 200;
                        width: 40px;
                        height: 38px;
                    }
                }
            }
        }
    }

    .image-animation {
        .row {
            .image-wrapper-1 {
                width: 50%;

                @include tablet() {
                    width: 20%;
                }

                #inspo-image-1 {
                    width: 100%;

                    @include tablet() {
                        width: 90%;
                    }
                }
            }

            .image-wrapper-2 {
                width: 50%;

                .inspo-text {
                    @include tablet {
                        text-align: start;
                        margin-bottom: 80px;
                        font-size: 16px;
                    }

                    @include desktop() {
                        width: 70%;
                        flex-wrap: wrap;
                    }
                }

                .image-inspo-wrapper {
                    #inspo-image-2 {
                        width: 100%;
                    }
                }
            }
        }
    }
}