@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin large-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 990px) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}

body {
    .prod-page {
        padding-top: 80px;

        .row {
            .txt-container {
                .txt-header {
                    text-transform: capitalize;
                    font-size: 45px;
                }

                .txt-info {
                    font-size: 16px;
                }
            }

            .lp-img-container {
                animation-name: animationlp;
                animation-duration: 1.7s;
                animation-fill-mode: forwards;
                opacity: 0;
                margin-top: 155px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .products-container {
        border: none;

        .row {
            .prod-container {
                position: relative;
                flex-wrap: wrap;
                width: 80%;

                .hover-div {
                    cursor: pointer;
                    z-index: 100;
                    background: rgba(0, 0, 0, 0);

                    &:hover .prod-img {
                        @include desktop() {
                            background: rgba(0, 0, 0, 0.719);
                            filter: brightness(40%);
                            transition: all 0.5s;
                        }
                    }

                    &:hover .icons-hover {
                        @include desktop() {
                            visibility: visible;
                        }
                    }

                    &:hover .prod-info {
                        @include desktop() {
                            opacity: 1;
                        }
                    }

                    .prod-img {
                        box-shadow: 0px 0px 14px -3px rgba(140, 137, 140, 1);
                        transition: all 0.5s ease-out;
                    }
                }

                img {
                    width: 100%;
                    vertical-align: top;
                }
            }

            .prod-info {
                text-transform: uppercase;
                position: absolute;
                top: 1px;

                @include desktop {
                    font-size: 165px !important;
                    opacity: 0;
                    font-weight: bold;
                    color: white;
                    left: 47%;
                    top: 15%;
                    transform: translate(-47%, -15%);
                    font-size: 20px;
                }

                @include large-desktop() {
                    font-size: 16px !important;
                    left: 47%;
                    top: 20%;
                    transform: translate(-47%, -20%);
                }

                .prod-name {
                    text-transform: uppercase;

                    @include desktop() {
                        text-align: center;
                    }
                }

                .prod-price {
                    text-transform: capitalize;
                    font-size: 12px;

                    @include desktop() {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }

            .prod-icons {
                position: absolute;
                bottom: 40px;
                right: 10px;

                @include desktop {
                    visibility: hidden;
                }

                .heart-icon {
                    width: 27px;
                    height: 37px;
                    cursor: pointer;
                }

                .cart-icon {
                    width: 38px;
                    height: 40px;
                    cursor: pointer;
                }
            }

            .icons-hover {
                visibility: hidden;
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-47%, -50%);

                @include desktop() {
                    display: block !important;
                }

                img {
                    width: 40px;
                    height: 38px;
                }
            }
        }
    }
}

$animationstart: 500px;
$animationend: 0px;

@keyframes animationlp {
    0% {
        transform: translateX($animationstart);
        opacity: 0;
    }

    100% {
        transform: translateX($animationend);
        opacity: 1;
    }
}