@mixin tablet {
    @media (min-width: 600px) { @content; }
}

@mixin large-tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 990px) { @content; }
}

@mixin font-style {
    font-family: 'Heebo', sans-serif;
}

body {
    @include font-style;
    .container-fluid {
        .row {
            .header-container {
                position: relative;
                nav {
                    .navbar-toggler {
                        border: none;
                        color: black;
                    }
                    .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                .dropdown-menu {
                                    border: none;
                                    .dropdown-divider {
                                        border-top: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .search {
                    display: none;
                    @include large-tablet {
                        display: inline-block;
                        position: absolute;
                        left: 100px;
                        top: 30px;
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
                .logo-wrapper {
                    position: absolute;
                    top: 23px;
                    left: 50%;
                    z-index: 10;
                    transform: translate(-50%);
                    img {
                        width: 140px;
                        height: 40px;
                    }
                }
                .shipping {
                    visibility: hidden;
                    @include desktop(){
                        visibility: visible;
                        position: absolute;
                        right: 120px;
                        top: 35px;
                        font-size: 12px;
                    }
                }
                .icons {
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    @include desktop(){
                        right: 30px;
                    }
                    .heart-icon {
                        cursor: pointer;
                        width: 23px;
                        height: 25px;
                    }
                    .cart-icon {
                        cursor: pointer;
                        width: 22px;
                        height: 20px;
                    }
                }
            }
        }
    }
}