@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}

@mixin tablet {
    @media (min-width: 616px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 990px) {
        @content;
    }
}

@mixin center-v () {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
}

.container {
    .row {
        #picDiv {
            display: none;
        }

        @include tablet {
            #picDiv {
                display: none;
            }
        }

        @include desktop {
            #main {
                width: 60%;
                height: 90%;
                min-height: 1000px;
                display: flex;
                flex-direction: column;
            }

            #sidebar {
                width: 25%;
                height: 80vh;
                min-height: 200px;
                overflow: auto;
                position: -webkit-sticky;
                position: sticky;
                top: 20%;

                #sel1 {
                    border-radius: 0 !important;
                }
            }

            #picDiv {
                display: block;
                padding-top: 50px;

                img {
                    height: 90%;
                    width: 90%;
                }
            }

            .carousel {
                display: none;
            }
        }

        .carousel {
            padding-top: 50px;

            .carousel-control-prev {
                font-size: 30px;
                color: black;
            }

            .carousel-control-next {
                font-size: 30px;
                color: black;
            }
        }

        .nav {
            justify-content: space-around;
            text-transform: uppercase;
            margin-top: 15px;
        }

        a {
            color: rgb(114, 114, 114);
            font-size: 15px;

            &:hover {
                color: black;
                text-decoration: none;
                font-weight: bold;
            }
        }

        .tab-content {
            margin-top: 20px;
            font-size: 15px;
        }

        h3 {
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 20px;
        }

        p {
            font-size: 15px;
        }

        h1 {
            text-transform: uppercase;
            font-size: 30px;
            @include font-style;
            font-weight: lighter;
        }

        h4 {
            font-size: 16px;
            @include font-style;
            font-weight: lighter;
        }

        .price {
            @include font-style;
            font-weight: bold;
        }

        label {
            font-size: 14px;
            text-transform: uppercase;
            @include font-style;
        }

        #theBtn {
            padding: 0px;

            .btn {
                @include font-style;
                text-transform: uppercase;
                margin: 2px;
                border-radius: 0;
                border: 1px solid black;
                font-size: 14px;

                &:hover {
                    background-color: black !important;
                    color: white;
                }
            }
        }

        .open-button {
            background-color: black;
            color: black;
            padding: 10px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            position: fixed;
            bottom: 20px;
            right: 28px;
            border-radius: 50%;
            z-index: 1;
            text-transform: uppercase;

            img {
                height: 25px;
                width: 25px;
            }
        }

        .chat-popup {
            display: none;
            position: fixed;
            bottom: 10px;
            right: 15px;
            border: 1px solid #f1f1f1;
            border-radius: 0;
            z-index: 10;

            h1 {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
            border-radius: 20px;
        }

        .form-container-textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
            border-radius: 20px;
        }

        .form-container-textarea:focus {
            background-color: #ddd;
            outline: none;
        }

        .form-container .btn {
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            width: 48%;
            margin-bottom: 10px;
            border-radius: 0;
            border: 1px solid black;

            &:hover {
                background-color: white;
                color: black;
            }
        }

        .form-container .cancel {
            background-color: #EADCCF;
            color: black;
            border: none;

            &:hover {
                border: 1px solid black;
            }
        }

        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }

        #message {
            width: 275px;
            height: 150px;
            border-radius: 20px;
            border: none;
            padding-left: 10px;
            padding-top: 15px;
        }
    }
}