@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}
@mixin tablet {
    @media (min-width: 616px) {@content;}
}
@mixin desktop {
    @media (min-width: 990px) {@content;}
}
.container{
    .row{
        @include desktop {
            #main{
                width: 60%;
                height: 300vh;
                min-height: 1000px;
                display: flex;
                flex-direction: column;
            }
            #sidebar{
                width: 25%;
                height: 80vh;
                min-height: 200px;
                overflow: auto;
                position: -webkit-sticky;
                position: sticky;
                top:15%;
                }
                .carousel-slide{
                    display: none;
                }
                .carousel-inner{
                    img{
                        margin-top: 10px;
                    }
                }
                .carousel-item{
                    clear: both;
                    display: block;
                    height: fit-content;
                    margin-top:10px;
                }
        }
        h1{
            text-transform: uppercase;
            font-size: 30px;
            @include font-style;
            font-weight: lighter;
        }
        h4{
            font-size: 16px;
            @include font-style;
            font-weight: lighter;
        }
        .price{
            @include font-style;
            font-weight: bolder;
            }
            label{
                font-size: 14px;
                text-transform: uppercase;
                @include font-style;
            }
            #theBtn{
                padding: 0px;
        .btn {
            @include font-style;
            border-radius: 1px;
            text-transform: uppercase;
            padding: 2px;
            margin: 2px;
            }
        }
     }
}
