@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}
@mixin tablet {
    @media (min-width: 616px) {@content;}
}
@mixin desktop {
    @media (min-width: 990px) {@content;}
}
.container{
    .row{
        @include desktop {
            #main{
                width: 60%;
                height: 90%;
                min-height: 1000px;
                display: flex;
                flex-direction: column;
            }
            #sidebar{
                width: 25%;
                height: 80vh;
                min-height: 200px;
                overflow: auto;
                position: -webkit-sticky;
                position: sticky;
                top:20%;
                }
                .carousel-slide{
                    display: none;
                }
                .carousel-inner{
                    img{
                        margin-top: 10px;
                    }
                }
                span.carousel-control-prev-icon{
                    display: none;
                }
                span.carousel-control-next-icon{
                    display: none;
                }
                .carousel-item{
                    clear: both;
                    display: block;
                    height: fit-content;
                    margin-top:10px;
                    
                }
        }
        .nav{
            justify-content: space-around;
            text-transform: uppercase;
            margin-top: 15px;
        }
        a{
            color: rgb(114, 114, 114);
            font-size: 15px;
        }
        .tab-content{
            margin-top: 20px;
            font-size: 15px;
        }
        h3{
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 20px;
        }
        p{
            font-size: 15px;
        }
        h1{
            text-transform: uppercase;
            font-size: 30px;
            @include font-style;
            font-weight: lighter;
        }
        h4{
            font-size: 16px;
            @include font-style;
            font-weight: lighter;
        }
        .price{
            @include font-style;
            font-weight: bold;
            }
            label{
                font-size: 14px;
                text-transform: uppercase;
                @include font-style;
            }
            #theBtn{
                padding: 0px;
        .btn {
            @include font-style;
            border-radius: 1px;
            text-transform: uppercase;
            padding: 2px;
            margin: 2px;
            }
        }
        .open-button{
            background-color:#343a40;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            position: fixed;
            bottom: 28px;
            right: 28px;
            width: 80px;
            border-radius: 20px;
        }
        .chat-popup{
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9px;
            h1{
                font-size: 18px;
                font-weight: bold;
            }
        }
        .form-container{
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }
        .form-container-textarea{
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
        }
        .form-container-textarea:focus{
            background-color: #ddd;
            outline: none;
        }
        .form-container .btn{
            background: black;
            color: white;
            // padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 48%;
            margin-bottom: 10px;
            opacity: 0.8;
        }
        .form-container .cancel{
            background-color: #EADCCF;
            color: black;
        }
        .form-container .btn:hover, .open-button:hover{
            opacity:1; 
        }
        #message{
            width: 275px;
            height: 150px;
        }
     }
}
