@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin large-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 990px) {
        @content;
    }
}

@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}

body {
    @include font-style;

    #myCart {
        padding: 11px;
    }

    .cartnav {
        #myCart {
            padding: 1px;
        }

        .cart-header {
            border-bottom: 1px lightgray solid;
            #rubrik {
                padding: 6px;
                margin-left: 6px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        height: 100%;
        padding: 10px;
        width: 32vw;
        visibility: hidden;
        position: fixed;
        z-index: 1500;
        bottom: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 60px;
        border-left: 1px solid rgba(211, 211, 211, 0.432);


        #mainDiv {
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 0;

            #empty{
                padding: 6px;
                margin-left: 21px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            ul {
                padding: 0px;

                #name {
                    margin-bottom: 0px;
                    font-weight: bold;
                }

                #size {
                    font-size: 12px;
                }
            }

            #antalP {
                float: right;

                span {
                    padding: 10px;
                    justify-content: flex-end;

                    .btn.btn-dark {
                        border: none;
                        border-radius: 0;
                        background-color: white;
                        color: black;
                        font-size: 12px;
                        text-align: right;

                        &:hover {
                            color: pink;
                        }
                    }
                }
            }

            img {
                width: 100%;
            }

            #price {
                margin-right: 5px;
                text-align: right;
            }
        }

        .shippingDiv {
            margin: 10px;
            padding-top: 5px;
            border-top: 1px solid rgb(241, 241, 241);
            opacity: 0, 7;
        }

        .totalDiv {
            border-top: 1px solid rgb(233, 233, 233);
            border-bottom: 1px solid rgb(233, 233, 233);
            margin-top: 220px;
            margin-left: 14px;
            margin-right: 14px;
            padding-top: 5px;

            #total {
                font-size: 18px;
                font-weight: lighter;
            }

            #totPrice {
                font-size: 20px;
                font-weight: bolder;
            }

            #frakt {
                font-size: 18px;
                margin-top: 10px;
            }

        }

        #totalBtn {
            margin-top: 20px;
                a{
                    width: inherit;
                }

                #btnCO {
                    border-radius: 0;
                    border: 1px solid black;
                    font-size: 14px;
                    text-transform: uppercase;
                    background-color: black!important;
                 }
        }

        .input-group {
            .button-minus {
                width: fit-content;

                &:focus {
                    outline: none;
                }
            }

            .quantity-field {
                margin: 4px;
                border: none;
                width: 10px;
                height: 30px;

                &[type=number]::-webkit-inner-spin-button,
                &[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                    -webkit-appearance: none;
                } 
            }

            .button-plus {
                width: fit-content;
            }
        }

        a.cartbtn {
            margin: -3px;
            font-size: 40px;
            color: #818181;
        }
    }

    .cart-active {
        z-index: 99999;
        padding: 10px;
        transition: .2s;
        visibility: visible;
        width: 100%;
        animation-name: cart-animation;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

        @include desktop() {
            width: 32vw;
            padding: 10px;
        }
    }

    .cartnav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;

        &:hover {
            color: #f1f1f1;
        }
    }

    .cartbtn {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0px;
        img {
            width: 30px;
            height: 30px;
        }
    }

}

$animationstart: 500px;
$animationend: 0px;
@keyframes cart-animation{
  0%{transform: translateX($animationstart); opacity:0;}
  100%{transform: translateX($animationend); opacity: 1;}
}