@mixin tablet {
    @media (min-width: 600px) { @content; }
}

@mixin large-tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 990px) { @content; }
}

@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}
body {
    @include font-style;
 
                .cartnav {
                    #rubrik{
                        margin-left: 6px;
                        border-bottom: 1px gray solid;
                    }
                    width: 300px;
                    height: 100%;
                    visibility: hidden;
                    position: fixed;
                    z-index: 100;
                    transition: .2s;
                    top: 0;
                    right: 0;
                    background-color: white;
                    overflow-x: hidden;
                    padding-top: 60px;
                    border-left: 1px solid rgba(128, 128, 128, 0.425);
                    img{
                        width: 30%;
                        height: 30%;
                    }
                    .input-group {
                        .button-minus {
                            width: fit-content;
                            &:focus {
                                outline: none;
                            }
                        }
                        .quantity-field {
                            margin: 4px;
                            border: none;
                            width: 10px;
                            height: 30px;
                            &[type=number]::-webkit-inner-spin-button, 
                            &[type=number]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                              }
                        }
                        .button-plus {
                            width: fit-content;
                        }
                    }
            }
                .active {
                    transition: .2s;
                    visibility: visible;
                    width: 100%;
                    @include tablet(){
                        width: 300px;
                    }
                }
            .cartnav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            color: #818181;
            display: block;
                &:hover {
                color: #f1f1f1;
            }
        }
        .cartbtn{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 40px;
        margin-left: 50px;
        }
    
}