@mixin tablet {
    @media (min-width: 600px) { @content; }
}

@mixin large-tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 990px) { @content; }
}

@mixin font-style {
    font-family: 'Work Sans', sans-serif;
}

body {
    .container {
        .row {
            .col-12 {
                .items {
                    text-transform: capitalize;
                    font-weight: bold;
                }
                .divider {
                    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
                    font-weight: bold;
                }
                .row {
                    .pic-wrapper {
                        position: relative;
                        .remove {
                            position: absolute;
                            top: 3px;
                            left: 15px;
                            font-weight: bold;
                        }
                        img {
                            width: 80%;
                            box-shadow: 0px 0px 14px -6px rgba(140,137,140,1);
                        }
                    }
                    .prod-wrapper {
                        font-weight: bold;
                        span {
                            font-size: 14px;
                        }
                        .name {
                            display: inline-block;
                            text-transform: uppercase;
                        }
                        .input-group {
                            display: inline!important;
                            .button-minus {
                                width: fit-content;
                                &:focus {
                                    outline: none;
                                }
                            }
                            .quantity-field {
                                border: none;
                                width: 10px;
                                height: 30px;
                                &[type=number]::-webkit-inner-spin-button, 
                                &[type=number]::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                  }
                            }
                            .button-plus {
                                width: fit-content;
                            }
                        }
                    }
                    .col-4 {
                        .text-right {
                            font-size: 14px;
                        }
                    }
                }
                .prod-info {
                    font-size: 14px;
                }
                .address-info {
                    font-size: 10px;
                    font-weight: bold;
                }
                form {
                    .col-12 {
                        .form-row {
                            #inputEmail {
                                border-bottom: none;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                @include large-tablet(){
                                    border-top-right-radius: 0;
                                    border-right: 0;
                                }
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputZip {
                                border-bottom: none;
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                @include large-tablet(){
                                    border-top-right-radius: 0.25rem;
                                }
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputPersonal {
                                border-bottom: none;
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputFirstname {
                                border-bottom: none;
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                @include large-tablet(){
                                    border-right: 0;
                                }
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputLastname {
                                border-bottom: none;
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputAddress {
                                border-bottom: none;
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputCity {
                                border-bottom: none;
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                @include large-tablet(){
                                    border-bottom: 1px solid #ced4da;
                                    border-bottom-left-radius: 0.25rem;
                                    border-right: none;
                                }
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                            #inputPhone {
                                border-top-right-radius: 0;
                                border-top-left-radius: 0;
                                @include large-tablet(){
                                    border-bottom-left-radius: 0;
                                }
                                &::placeholder {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
                .btn-wrapper {
                    .btn {
                        border-radius: 0;
                        border: 1px solid black;
                        font-size: 14px;
                    }
                    .btn-dark {
                        background-color: black!important;
                    }
                }
                .payment-wrapper {
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    .card-details::placeholder {
                        font-family: FontAwesome;
                        font-weight: 900;
                    }
                }
                .modal-title{
                    text-transform: uppercase;
                    text-align: center;
                    width: 100%;
                }
                .modal-content{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                .modal-dialog{
                    top: 20% !important;
                }
                .modal-body{
                    font-weight: bold;
                    text-align: center;
                }
                #order{
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}