@mixin tablet {
    @media (min-width: 600px) { @content; }
}

@mixin large-tablet {
    @media (min-width: 800px) { @content; }
}

@mixin desktop {
    @media (min-width: 1200px) { @content; }
}

@mixin font-style {
    font-family: nudista-web, sans-serif;
}

.container-fluid {
    .row {
        .txt-container {
            .txt-header {
                text-transform: capitalize;
                font-size: 45px;
            }
        }
    }
}