body {
    @include font-style;
    .container-fluid {
        .header-container {
            position: relative;
            border-bottom: 1px solid rgba(128, 128, 128, 0.425);
            nav {
                .navbar-toggler {
                    border: none;
                    color: black;
                }
                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            .dropdown-menu {
                                border: none;
                                .dropdown-divider {
                                    border-top: none;
                                }
                            }
                        }
                    }
                }
            }
            .logo-wrapper {
                position: absolute;
                left: 50%;
                z-index: 10;
                transform: translate(-50%);
                img {
                    width: 180px;
                    height: 60px;
                }
            }
            .icons {
                position: absolute;
                top: 10px;
                right: 1px;
                opacity: 0.7;
                img {
                    cursor: pointer;
                }
            }
        }
    }
}